body {
    background:#111;
    text-align:center;
    font-family:"Poppins", serif;
    color:#FFF;
    padding:0;
    margin:0;
}
a {
    display:inline-block;
    margin:1em auto;
    background:#333;
    border:1px solid #555;
    padding:4px;
    color:#FFF;
}
section {
    margin:0 0 64px;
    padding:0 0 64px;
    border-bottom:1px solid orange;
}
#wrapper {
    font-family:"Poppins", serif;
    color:#FFF;
}
.flexWrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.small div, .medium div, .large div {
    flex-grow:1;
    flex-shrink:1;
}
.small div {
    padding:80px 128px;
}
.medium div {
    padding:40px 96px;
}
.large div {
    padding:20px 80px;
}
.logo div {
    height:700px;
    background:url('../images/branding/logo.svg') center center no-repeat;
}
.logo256x256 div {
    height:256px;
    background:url('../images/branding/logo-256x256.png') center center no-repeat;
}
.logo128x128 div {
    height:128px;
    background:url('../images/branding/logo-128x128.png') center center no-repeat;
}
.logo64x64 div {
    height:64px;
    background:url('../images/branding/logo-64x64.png') center center no-repeat;
}
.websiteLogo div {
    height:56px;
    background:url('../images/branding/logo.png') center center no-repeat;
}
.logoIcon48x48 div {
    height:48px;
    background:url('../images/branding/logo-icon-48x48.png') center center no-repeat;
}
.logoIcon32x32 div {
    height:32px;
    background:url('../images/branding/logo-icon-32x32.png') center center no-repeat;
}
.logoIcon24x24 div {
    height:24px;
    background:url('../images/branding/logo-icon-24x24.png') center center no-repeat;
}
.logoIcon16x16 div {
    height:16px;
    background:url('../images/branding/logo-icon-16x16.png') center center no-repeat;
}
.flexWrapper div:first-child {
    background-color:#000;
}
.flexWrapper div:last-child {
    background-color:#FFF;
}