.roadmapCard {
	transition: 0.3s;
	padding: 20px;
	text-align: left;
	margin-bottom: 20px;
}

.roadmapCard h3 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #666
}

.progessStatus {
	margin: 10px;
	display: inline;
}

.progressDone {
	color: green;
}

.progressOngoing {
	color: orange;
}