.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member {
	width: 200px;
	height: 200px;
    position: relative;
	/*-webkit-clip-path: polygon(67% 10%,90% 33%,33% 90%,10% 67%);
	clip-path: polygon(67% 10%,90% 33%,33% 90%,10% 67%);*/
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
}

.team-member:hover {
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
}

.team-img img {
	width: 200px;
	height: 200px;	
}

.team-member {
    overflow: hidden;
	margin: auto;
}

.team-member-wrapper {
	width: 200px;
	height: 200px;
	flex-grow: 1;
	margin:10px auto 8em;
}

.team-member-container {
	display: flex;
    flex-wrap: wrap;
    margin:0 0 4rem;
}
.team-member-container:last-child {
    margin:0;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
	font-size: 0.8em;
   -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-hover p {
	margin-bottom: 0px !important;
 }
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
	color: orange;
	margin-top: 0em;
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #ccc;
    letter-spacing: 1px;
}

.team-name {
	text-transform: none !important;
}

.teamLink {
	font-size: 1.5em;
	color: #CCCCCC;
}
.teamSocialWrapper {
    margin:6px 0 0;
}
.teamSocialWrapper i:hover {
    color:#FFF;
}
.team-hiring {
    background:#DDD;
    padding:84px 0;
    line-height:32px;
}
a.team-apply {
    font-weight:bold;
}