.navcontent{
	justify-content: center;
	align-items: center;
	padding: 100px 0 0 0;
}
.nav{
	justify-content: space-evenly;
	align-content: center;
}

.nav-tabs{
	background-color: #222;
	background-image: linear-gradient(to bottom, #222, transparent);
	border-bottom: 1px solid #222;
	box-shadow: 0 0 32px #222;
	font-size: 1.5em;
	font-weight: 300;
	padding: 20px;
}
.nav-tabs a{
	cursor: pointer;
	color: white;
}
.nav-tabs a:hover{
	color: orange !important;
	filter: brightness(50%);
}
a.active {
	color: orange !important;
}
.tab-content{
	margin-top: 100px;
}
.site-section-heading{
	text-align: left;
}
.tab-content ul{
	display: flex; 
	flex-direction: column;
	list-style-type: none;
	padding: 0;
}
.slinks{
	padding-top: 25px;
	display: block;
	min-width: 100%;
}