@font-face {
	font-family:"poppins";
	font-weight:normal;
	font-style:normal;
	src:
		url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
		url("../fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
	font-family:"poppins";
	font-weight:normal;
	font-style:italic;
	src:
		url("../fonts/poppins-italic-webfont.woff2") format("woff2"),
		url("../fonts/poppins-italic-webfont.woff") format("woff");
}

@font-face {
	font-family:"poppins";
	src:
		url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
		url("../fonts/poppins-semibold-webfont.woff") format("woff");
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family:"poppins";
	font-weight:bold;
	font-style:italic;
	src:
		url("../fonts/poppins-semibolditalic-webfont.woff2") format("woff2"),
		url("../fonts/poppins-semibolditalic-webfont.woff") format("woff");
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 5px;
	color: #FFFFFF;
	opacity: 80%;
    position: relative;
}
.section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    right: 32%;
    background-color: orange;
    bottom: -5px;
}
.container .section-title h1::before{
    left: 30%;
}


/*Team section*/

.team{
	text-align: center;
	border-radius: 2em 2em 2em 2em;
	padding: 10px;
	background: rgba(81, 70, 68, .6);
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 50px;
}
.socials{
	list-style: none;
	padding: 0;
}
.team-img{
	border-radius: 50%;
    overflow: hidden;
    position: relative;
	opacity: 0.6;
}
.team .team-img:before,
.team .team-img:after{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 13px solid #181A18;
    position: absolute;
    top: 0;
    left: 0;
}
.team .team-img:after{
    border-color: #FFA500 #181A18 #181A18 #FFA500;
    z-index: 1;
    transform: rotate(-10deg);
    transition: all 0.5s ease 0s;
}
.team:hover .team-img:after{ 
	transform: rotate(350deg); 
}
.team:hover .team-img{ 
	opacity: 1;
	transition: all 0.5s ease 0.2s;
}
.team:hover{
	background: #2F4F4F;
}
.team img{
    width: 300px;
    height: 300px;
}
.team-name{
	text-transform: none;
	font:1em/1.6 "poppins",arial,helvetica,sans-serif;
	letter-spacing: 0.5px;
	font-size: 26px;
    font-weight: normal;
    padding-bottom: 10px;
    margin: 15px 0 10px 0;
    position: relative;
}
.team-name:after{
    content: "";
    width: 30px;
    height: 2px;
    background: #FFA500;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.role{
	text-transform: uppercase;
	display: block;
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
}
.team:hover .role{
	font-style: normal;
	color: #FFA500;
}
.socials li{
	display: inline-block;
}
.socials a{
	color: #000000;
	display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
    transition: all 0.3s ease-out 0s;
	
}
.socials a:hover{
	color: #FFA500;
	background: #000000;
}
.tdesc{
	max-width: 300px;
}
.desc{
	margin: 0;
	font-size: 13px;
	font-weight: lighter;
	padding-bottom: 10px;
	color: #ffffff;
	word-wrap: break-word;
}











