/**********************************************/
/******* Media section areas and thunbs *******/
/**********************************************/

.mediaSectionWrapper {
  justify-content: center;
}

.thumbex {
    margin: 10px 20px 30px;
    width: 100%;
    min-width: 250px;
    max-width: 435px;
    height: 300px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    outline: 2px solid white;
    outline-offset: -15px;
    background-color: #333;
    box-shadow: 5px 10px 40px 5px rgba(0, 0, 0, 0.5);
}

.thumbnail {
    overflow: hidden;
    min-width: 250px;
    height: 300px;
    position: relative;
    opacity: 0.88;
    backface-visibility: hidden;
    transition: all 0.4s ease-out;
}

.thumbnail img {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    height: 115%;
    width: auto;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
}

.thumbnail span {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 25px;
    margin: 0 25px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.2px;
    transition: all 0.3s ease-out;
}

.thumbnail:hover {
    backface-visibility: hidden;
    transform: scale(1.15, 1.15);
    opacity: 1;
}

.thumbnail:hover span {
    opacity: 0;
}

/**********************************************/
/************** Featured section **************/
/**********************************************/

.caption{
	margin-top: 50px;
	border:1px groove ;
}
.falign {
	justify-content: center;
}
.falign span{
	text-align: center !important;
}
.falign h2{
	text-align: center;
}
.falign h1{
	color: orange;
}
/* If the screen size is 781px wide or more*/
@media screen and (min-width: 781px) {
  div.falign h1{
    font-size: 50px !important;
	}
  div.falign h2{
	font-size: 40px;
	}
}

/* If the screen size is 780px wide or less */
@media screen and (max-width: 780px) {
  div.falign h1{
	font-size: 40px !important;
	} 
  div.falign h2 {
    font-size: 30px !important;
  }
}

.featured{
	color: orange;
	border: 1px dashed grey;
	text-align: center;
}
.carousel{
	height: 400px;
	width: auto;
	
}
.carousel iframe{
	width: 95%;
	height: 400px;
	border: 5px solid #112E41;
}
.carousel-control-next{
	height: 20px;
	margin: auto;
	width: 7%;
}
.carousel-control-prev{
	height: 20px;
	margin: auto;
	width: 7%;
}

/*Mining section*/
.cstalign{
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
}
.vidWrapper{
	width: 100%; max-width: 800px; min-width: 400px;
	margin: 1em 0.5em 1em 0.5em;
	border: 5px solid black;
	-webkit-flex: 1;
    -ms-flex: 1;
}
.vidContainer{
	width: 100%; max-width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}
.vidContainer iframe{
	width: 100%; max-width: 100%;
	height: 100%;
	position: absolute; top: 0; left: 0;
}

/* The navigation bar */
.nav{
	justify-content: space-between;
	align-content: center;
}

.nav-tabs{
	background-color: #222;
	background-image: linear-gradient(to bottom, #222, transparent);
	border-bottom: 1px solid #222;
	box-shadow: 0 0 32px #222;
	font-size: 1.5em;
	font-weight: 300;
	padding: 20px;
}
.nav-tabs a{
	cursor: pointer;
	color: white;
}
.nav-tabs a:hover{
	color: orange !important;
	filter: brightness(50%);
}
a.active {
	color: orange !important;
}
.tab-content{
	margin-top: 100px;
}

/**********************************************/
/********** Media section navigation **********/
/**********************************************/

@media (max-width: 800px) {
  .mediaSections {
    display: none;
  }
}



/* The Magic */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.mediaSections {
  margin-bottom: 50px;
}

 @media (max-width: 990px) {
  .pageSlogan {
    text-align: center;
  }
  
  .btnSignMain {
    font-size: 0.9rem;
  }
 }
