.bsec{
	padding-bottom: 100px;
}
.logo{
	width: 250px;
	height: 250px;
}
.logodark{
	margin-bottom: 10px;
	border-radius: 50%;
	background:url("../../images/branding/logo.svg") center center no-repeat;
	background-color:#000;
}
.logowhite{
	border-radius: 50%;
	background:url("../../images/branding/logo.svg") center center no-repeat;
	background-color:#fff;
}
.bio ul{
	list-style: none;
	padding: 0;
}
.holder{
	width: 100%;
	height: 100%;
}
.colors{
	position: relative;
	width: 150px;
	height: 150px;
	margin: 10px 10px 10px 10px;
	color: white;	
}
.colors p{
	text-align: center;
	padding-top: 60px;
}
.colororange{
	background-color: orange;
}
.colorblack{
	background-color: black;
}
.colorgrey{
	background-color: grey;
}
.bquote p{
	padding-top: 40px;
	font-family:"poppins";
	font-weight:normal;
	font-style:normal;
	src:
		url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
		url("../fonts/poppins-regular-webfont.woff") format("woff");
}