@import "tailwindcss";

/* 
 * ABSOLUTE MINIMUM - Do NOT add CSS that blocks Tailwind utilities!
 * main.css is REFERENCE ONLY - use Tailwind classes in components
 */

/* HTML base font size for rem calculations */
html {
  font-size: 10px;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 9.411764705882353px;
  }
}

/* Poppins Font */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins.woff2') format('woff2'),
       url('/fonts/poppins.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
